*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #22889a , #c9d6ff);
    align-items: center;
} 
/* div {


}  */
.container{
    border:solid 1px ;
    top:  50px;
    left: 500px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    width: 350px;
    height: 80vh;
    border-radius: 10px;
}
.content{
    border-radius: 5px;
    border:solid 1px ;
    width: 150px;
    height: 150px;
    margin: 10px;
}
.inputbox{
    border:solid none;
    justify-content: center;
    text-align: center;
}
#time:hover{
    cursor: pointer;
}
#time{
    border: color transparent;
    cursor: pointer;    
}
#importance{
    cursor: pointer;
}
#creater:active{
    background-color: #761a65;
}
#creater:hover{
    cursor: pointer;
}
#creater{
    border-radius: 10em;
    color: #000;
    background-color: transparent;
    border: color #32bdd5;;
}
#inputText{
    border-radius: 10em;
    /* background:linear-gradient(to right, #22889a ,#c9d6ff); */
    border: none;
    background-color: transparent;
    /* text-decoration:#000?; */
}
#inputText::placeholder{
    color: #000;
}
li {
    list-style-type: none;
} 