*{
    color: #fff;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #22889a , #c9d6ff);
    align-items: center;
} 

.container{
    border:solid 1px ;
    top:  50px;
    left: 300px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    width: 350px;
    height: 80vh;
    border-radius: 10px;
}
.content{
    border-radius: 5px;
    border:solid 1px ;
    width: 150px;
    height: 150px;
    margin: 10px;
}
.inputbox{
    border:solid none;
    justify-content: center;
    text-align: center;
}
#time:hover{
    cursor: pointer;
}
#time{
    border: color transparent;
    cursor: pointer;    
}
#importance{
    cursor: pointer;
}
#creater:active{
    background-color: transparent;
}
#creater:hover{
    cursor: pointer;
}
#creater{
    border-radius: 10em;
    color: #fff;
    background-color: transparent;
    border: none;;
}
#inputText{
    border-radius: 10em;
    /* background:linear-gradient(to right, #22889a ,#c9d6ff); */
    border: none;
    background-color: transparent;
    /* text-decoration:#000?; */
}
#inputText::placeholder{
    color: #fff;
}
li {
    list-style-type: none;
} 
.arrayNoties{
    padding: 2px;
    position: relative;
    display: flex;
    width: 350px;
    height: 80vh;
    border: solid #fff;
    left: 900px;
    bottom: 575px;
    border-radius: 10px;

}
#donebtn:hover{
    cursor: pointer;
}
#donebtn{
    background-color: transparent;
    color: rgb(0, 0, 0);
    border-color: transparent;
    font-size: 30px;
}
.importence-time{
    display:block;
    width: 350px;
    height: 33px;;
    right: 0.01px;
    border-bottom: solid 1px rgba(35, 197, 35, 0.633);
}
.importence{
    display:block;
    width: 350px;
    height: 33px;;
    right: 0.01px;
    border-bottom: solid 1px blue;
}
.time{
    display:block;
    width: 350px;
    height: 33px;;
    right: 0.01px;
    border-bottom: solid 1px orange;
}
.delete{
    display:block;
    width: 350px;
    height: 33px;;
    right: 0.01px;
    border-bottom: solid 1px red;
}